* {
  box-sizing: border-box;
}

.top-page-header {
  background-color: black;
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  animation: blinkAnime 1s infinite alternate;
}
@keyframes blinkAnime{
   0% { color: #000000 }
 100% { color: #ff0000 }
}


.logout {
  text-decoration: none;
  animation: blinkAnime 1s infinite alternate;
}
@keyframes blinkAnime{
   0% { color: #000000 }
 100% { color: #ff0000 }
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  animation: blinkAnime 1s infinite alternate;
}
@keyframes blinkAnime{
   0% { color: #000000 }
 100% { color: #ff0000 }
}

.sign_up {
  text-decoration: none;
  animation: blinkAnime 1s infinite alternate;
}
@keyframes blinkAnime{
   0% { color: #000000 }
 100% { color: #ff0000 }
}