.shadow {
  display     : inline-block;
  color       : #000000;            /* 文字の色 */
  font-size   : 30pt;               /* 文字のサイズ */
  text-shadow : 10px 10px red;  /* 文字の影 */
}





.title-contents {
  width: 100vw;
  background-image: image-url('top-soccer.png');
  background-size: contain;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  // align-items: flex-start;
  // justify-content: center;
  padding: 25vh 20vw;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  display     : inline-block;       /* 奥行表示のためのブロック化 */
  color       : #990000;            /* 文字の色 */
  font-size   : 100pt;               /* 文字サイズ */
  letter-spacing : 4px;                /* 文字間 */
  text-shadow    : 
       2px  2px 1px #000000,
      -2px  2px 1px #000000,
       2px -2px 1px #000000,
      -2px -2px 1px #000000,
       2px  0px 1px #000000,
       0px  2px 1px #000000,
      -2px  0px 1px #000000,
       0px -2px 1px #000000;        /* 文字の影 */
}

.service-explain {
  color: red;
  display     : inline-block;       /* 奥行表示のためのブロック化 */
  font-size   : 20pt;               /* 文字サイズ */
  transform   : perspective(150px)  /* 奥行 */
                rotateX(45deg);
}


.item-contents {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  color: red;
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}


.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.rogin {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}







.game{
  background: white;
  text-align: center;
}

.sss {
  border: solid;
  border: 4px solid;
  border-color: black;
  border-radius: 8px;
  width: 100%;
  margin: 20px auto;
}

.images {
  margin: 0 200px;
}

.team-name{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.item-name {
  font-size: 2.5vh;
  width: 480px;
}

.ttt {
  font-size: 30px;
  color: black;
}

.foot-name{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.yyy {
  font-size: 30px;
  color: black;
}

.away-name {
  font-size: 2.5vh;
  width: 480px;
}