.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}


.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}
.average-score-display {
  font-size: 16px;
}

.scroll {
  margin     : auto;
  width      : 100%;
  font-size  : 140%;
  line-height: 1.5em;
  text-align : center;
  color      : #000000;
  background : #fff;
  overflow   : hidden;
}
.scroll span{
  display     : inline-block;
  padding-left: 100%;
  white-space : nowrap;
  line-height : 1em;
  animation   : scrollAnime 11s linear infinite;
}
@keyframes scrollAnime{
    0% { transform: translateX(0)}
  100% { transform: translateX(-100%)}
}

.iciran{
  display: flex;
  justify-content: space-between;
}


.poji{
  color: red;
}

.table {
  border-top:1px solid red;
  border-left:1px solid red;
  border-collapse:collapse;
  background:red;
  font-size:100%;
}

.caption {
  color:red;
  font-weight:bold;
  text-align:center;
  text-transform: uppercase;
}

.thead th, tfoot th, tfoot td {
  border-right:1px solid #5C443A;
  border-bottom:1px solid #5C443A;
  background:red;
  color:red;
  background-position:left top;
  padding:10px 10px 10px 10px;
  text-align:center;
}

.td, th {
  padding:100px;
}

.tbody tr th, tbody tr td {
  border-right:1px solid red;
  border-bottom:1px solid red;
}

.tbody tr:hover td, tbody tr:hover th {
  background: red;
  color: red;
}

.tbody tr:hover td a, tbody tr:hover th a {
  background: red;
  color: red;
}

.tbody td a, tbody th a {
  border: none;
  background: transparent;
  color: red;
  text-decoration: none;
}

.tbody td a:hover, tbody th a:hover {
  background: red;
  color: red;
  text-decoration: underline;
}

