.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}


.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}
.average-score-display {
  font-size: 16px;
}
